<div class="main">

    <div class="contact-form col-5">

        <!-- Material form login -->
        <div class="card">

            <h5 class="card-header info-color white-text text-center py-4">

                <div class="container-text-Card-header">


                    <h2 style="line-height: 2%;"> Contáctenos</h2>

                </div>


                <div class="container-rrss-card-header">

                    <i class="fab fa-facebook-f fa-lg rrss hvr-bob mr-2 mt-3"><a href="https://www.instagram.com/brooklyn.films/"></a> </i>
                    <i class="fab fa-instagram fa-lg rrss	hvr-bob  mr-2 mt-3"><a href="https://www.instagram.com/brooklyn.films/"></a> </i>
                    <i class="fab fa-vimeo-v fa-lg rrss	hvr-bob  mr-3 "><a href="https://vimeo.com/wearebrooklyn"></a> </i>
                </div>

            </h5>

            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">

                <!-- Form -->
                <form class="text-center" style="color: #757575;margin-top: 3%;">

                    <!-- Email -->
                    <div class="md-form">
                        <input type="email" id="materialLoginFormEmail" class="form-control">
                        <label for="materialLoginFormEmail">nombre :</label>
                    </div>

                    <!-- Password -->
                    <div class="md-form">
                        <input type="password" id="materialLoginFormPassword" class="form-control">
                        <label for="materialLoginFormPassword">Tu correo </label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="materialLoginFormPassword" class="form-control">
                        <label for="materialLoginFormPassword">Mensaje </label>
                    </div>




                    <!-- Sign in button -->
                    <button style="float: right;" class="btn btn-warning btn-rounded  my-4 waves-effect z-depth-0" type="submit">Enviar</button>




                </form>
                <!-- Form -->

            </div>

        </div>
        <!-- Material form login -->


    </div>


</div>

<div class="contact-mobile">

    <div class="contact-form-mobile " style="margin-top: 30%;">

        <!-- Material form login -->
        <div class="card">

            <h5 class="card-header info-color white-text text-center py-4">

                <div class="container-text-Card-header">


                    <h2 style="line-height: 2%;"> Contáctenos</h2>

                </div>


                <div class="container-rrss-card-header">

                    <i class="fab fa-facebook-f fa-lg rrss hvr-bob mr-2 mt-3"><a href="https://www.instagram.com/brooklyn.films/"></a> </i>
                    <i class="fab fa-instagram fa-lg rrss	hvr-bob  mr-2 mt-3"><a href="https://www.instagram.com/brooklyn.films/"></a> </i>
                    <i class="fab fa-vimeo-v fa-lg rrss	hvr-bob  mr-3 "><a href="https://vimeo.com/wearebrooklyn"></a> </i>
                </div>

            </h5>

            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">

                <!-- Form -->
                <form class="text-center" style="color: #757575;margin-top: 3%;">

                    <!-- Email -->
                    <div class="md-form">
                        <input type="email" id="materialLoginFormEmail" class="form-control">
                        <label for="materialLoginFormEmail">nombre :</label>
                    </div>

                    <!-- Password -->
                    <div class="md-form">
                        <input type="password" id="materialLoginFormPassword" class="form-control">
                        <label for="materialLoginFormPassword">Tu correo </label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="materialLoginFormPassword" class="form-control">
                        <label for="materialLoginFormPassword">Mensaje </label>
                    </div>




                    <!-- Sign in button -->
                    <button style="float: right;" class="btn btn-warning btn-rounded  my-4 waves-effect z-depth-0" type="submit">Enviar</button>




                </form>
                <!-- Form -->

            </div>

        </div>
        <!-- Material form login -->


    </div>
</div>