<div class="main">

    <div class="content-text ">

        <div class="first-paragraph">

            <div class="title-about " style="text-align: center; text-justify: auto;">
                <p class="animated fadeInDown delay:1s;" style=" color: #ffd200;  font-size:32px;">#WeAre</p>
            </div>
            <p class="animated lightSpeedIn delay-1s">
                <span style=" color: #ffd200;text-justify: auto;">Brooklyn</span> nace por la búsqueda de crear contenido diferente al que acostumbramos ver, adquiriendo
                <br>influencias de artistas internacionales de todas las áreas para crear una pieza audiovisual original
                <br>y rupturista.

            </p>
        </div>

        <div class="secord-paragraph animated lightSpeedIn delay-2s" style="text-align: center; text-justify: auto;">

            <p>

                Somos cuatro creadores inquietos por hacer, quienes no duermen por soñar y quienes juegan cuando
                <br>trabajan, para así realizar contenido con una búsqueda de alto nivel estético y narrativo.
            </p>


        </div>

        <div class="three-paragraph animated lightSpeedIn delay-2s" style="text-justify: auto;text-align: center;">


            <p>
                Somos los que creen. Somos los que crean. Somos los que sienten.
                <br> <span style="color: #ffd200;">#WeAreBrooklyn</span>
            </p>
        </div>
    </div>

    <!-- Card Regular -->
    <div class="card card-cascade col-3 animated slideInLeft delay-1s" style="float:left; border: none;">

        <!-- Card image -->
        <div class="view view-cascade overlay ">
            <img class="card-img-top img-responsive" src="assets/img/foto 1.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center card-team">

            <!-- Title -->
            <h4 class="card-title"><strong> Francisca Matus</strong></h4>
            <!-- Subtitle -->
            <h6 class="font-weight-bold indigo-text py-2">Dirección</h6>

            <div class="social">
                <!-- Instagram -->
                <a href="" style="color: black;margin-right: 5%;"> <i class="fab fa-instagram "></i></a>
                <!-- Facebook -->
                <a href="" style="color: black;"> <i class="fab fa-facebook"></i></a>

            </div>

        </div>

    </div>
    <!-- Card Regular -->




    <!-- Card Regular -->
    <div class="card card-cascade col-3 animated slideInUp delay-5s;" style="float:left;  border: none;">

        <!-- Card image -->
        <div class="view view-cascade overlay">
            <img class="card-img-top img-responsive" src="assets/img/foto 2.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center card-team">

            <!-- Title -->
            <h4 class="card-title"><strong>  Ringo Valenzuela</strong></h4>
            <!-- Subtitle -->
            <h6 class="font-weight-bold indigo-text py-2">Director de Fotografía </h6>

            <div class="social">
                <!-- Instagram -->
                <a href="" style="color: black;margin-right: 5%;"> <i class="fab fa-instagram "></i></a>
                <!-- Facebook -->
                <a href="" style="color: black;"> <i class="fab fa-facebook"></i></a>

            </div>

        </div>

    </div>
    <!-- Card Regular -->


    <!-- Card Regular -->
    <div class="card card-cascade col-3 animated slideInUp delay-5s;" style="float:left;  border: none;">

        <!-- Card image -->
        <div class="view view-cascade overlay">
            <img class="card-img-top img-responsive" src="assets/img/foto 3.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center card-team">

            <!-- Title -->
            <h4 class="card-title"><strong>  Valeska Flores</strong></h4>
            <!-- Subtitle -->
            <h6 class="font-weight-bold indigo-text py-2">Productora Ejecutiva </h6>

            <div class="social">
                <!-- Instagram -->
                <a href="" style="color: black;margin-right: 5%;"> <i class="fab fa-instagram "></i></a>
                <!-- Facebook -->
                <a href="" style="color: black;"> <i class="fab fa-facebook"></i></a>

            </div>

        </div>

    </div>
    <!-- Card Regular -->


    <!-- Card Regular -->
    <div class="card card-cascade col-3  animated slideInRight delay-5s;" style="float:left; border: none;">

        <!-- Card image -->
        <div class="view view-cascade overlay">
            <img class="card-img-top img-responsive" src="assets/img/foto 4.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center card-team">

            <!-- Title -->
            <h4 class="card-title"><strong>Ignacio Cisternas</strong></h4>
            <!-- Subtitle -->
            <h6 class="font-weight-bold indigo-text py-2">Productor General </h6>

            <div class="social">
                <!-- Instagram -->
                <a href="" style="color: black;margin-right: 5%;"> <i class="fab fa-instagram "></i></a>
                <!-- Facebook -->
                <a href="" style="color: black;"> <i class="fab fa-facebook"></i></a>

            </div>

        </div>

    </div>
    <!-- Card Regular -->

</div>


<!---------------------------------------Mobile About-------------------------------------------------------->

<div class="about-mobile">


    <div class="title-about-mobile text-center  mt-2">

        <h1 class="animated pulse delay-1s"><span style="color:#ffd200 ;">#WeAre</span> </h1>

    </div>

    <div class="first-text-about text-center animated bounceInLeft delay-1s">
        <p>
            <span style="color:#ffd200">Brooklyn</span> nace por la búsqueda de crear contenido diferente al que acostumbramos ver, adquiriendo influencias de artistas internacionales de todas las áreas para crear una pieza audiovisual original y rupturista.
        </p>
    </div>

    <div class="second-text-about text-center animated bounceInLeft delay-2s">
        <p>Somos cuatro creadores inquietos por hacer, quienes no duermen por soñar y quienes juegan cuando trabajan, para así realizar contenido con una búsqueda de alto nivel estético y narrativo.</p>
    </div>

    <div class="three-text-about text-center animated bounceInLeft delay-3s">
        <p>Somos los que creen. Somos los que crean. Somos los que sienten.
            <span style="color: #ffd200">#WeAreBrooklyn</span> </p>
    </div>



    <div class="img-team-brok">

        <div class="first-person animated flipInX delay-4s">

            <div class="img-first-person " style="margin-left: 20%;">
                <img class="img-circle" src="assets/img/foto 1.jpg">
            </div>

            <div class="name-person text-center mt-1">
                <h3> <strong>Francisca Matus</strong></h3>
                <p>Dirección</p>
                <!-- Instagram -->
                <a href="" style="color: black;margin-right: 5%;"> <i style="font-size: 27px;" class="fab fa-instagram "></i></a>
                <!-- Facebook -->
                <a href="" style="color: black;"> <i style="font-size: 27px;" class="fab fa-facebook"></i></a>
            </div>



        </div>

        <div class="second-person animated flipInX delay-5s  mt-5">

            <div class="img-second-person" style="margin-left: 20%;">
                <img class="img-circle" src="assets/img/foto 2.jpg">
            </div>

            <div class="name-person text-center mt-1">
                <h3> <strong>Ringo Valenzuela</strong></h3>
                <p>Director de Fotografía</p>
                <!-- Instagram -->
                <a href="" style="color: black;margin-right: 5%;"> <i style="font-size: 27px;" class="fab fa-instagram "></i></a>
                <!-- Facebook -->
                <a href="" style="color: black;"> <i style="font-size: 27px;" class="fab fa-facebook"></i></a>
            </div>



        </div>


        <div class="three-person animated flipInX delay-6s  mt-5">

            <div class="img-three-person" style="margin-left: 20%;">
                <img class="img-circle" src="assets/img/foto 3.jpg">
            </div>

            <div class="name-person text-center mt-1">
                <h3> <strong>Valeska Flores</strong></h3>
                <p>Productora Ejecutiva</p>
                <!-- Instagram -->
                <a href="" style="color: black;margin-right: 5%;"> <i style="font-size: 27px;" class="fab fa-instagram "></i></a>
                <!-- Facebook -->
                <a href="" style="color: black;"> <i style="font-size: 27px;" class="fab fa-facebook"></i></a>
            </div>



        </div>

        <div class="four-person animated flipInX delay-6s  mt-5">

            <div class="img-four-person" style="margin-left: 20%;">
                <img class="img-circle" src="assets/img/foto 4.jpg">
            </div>

            <div class="name-person text-center mt-1">
                <h3> <strong>Ignacio Cisternas</strong></h3>
                <p>Productor General</p>
                <!-- Instagram -->
                <a href="" style="color: black;margin-right: 5%;"> <i style="font-size: 27px;" class="fab fa-instagram "></i></a>
                <!-- Facebook -->
                <a href="" style="color: black;"> <i style="font-size: 27px;" class="fab fa-facebook"></i></a>
            </div>



        </div>

    </div>



</div>