.main {
    margin-left: 15%;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    overflow: hidden;
    position: relative;
}

.first-paragraph {
    text-align: center;
    margin: 2.5% 0 0 6.5%;
}

.second-paragraph {
    text-align: center;
    margin: 4.5% 0 0 6.5%;
}

.three-paragraph {
    text-align: center;
    margin: 0 0 0 6.5%;
}

.social a :hover {
    color: #fdd200;
}

.about-mobile {
    display: none;
    margin-left: 25%;
    position: relative;
}

@media screen and (max-width:450px) {
    .main {
        display: none;
    }
    .about-mobile {
        display: block;
        border-color: white;
        border-style: solid;
    }
    .close {
        right: 30px;
    }
}