<div class="main">

    <div class="first-section">
      <div class="contenedor1">
        <img src="assets/img/DrefQuila video.jpg" width="100%" height="106.5%"  alt="">
        <p class="textos-home"> asd </p>
      </div>
      <div class=" contenedor2">
        <img src="assets/img/pt fashion film foto.jpg" width="100%" height="100%"  alt="">
        <p class="textos-home"> asd </p>
      </div>
      <div class=" contenedor3">
        <img src="assets/img/pt fashion film video cuadrado.jpg" width="100%" height="100%"  alt="">
        <p class="textos-home"> asd </p>
      </div>
    </div>


    <div class="second-section">
      <div class="contenedor5">
        <img src="assets/img/DrefQuila foto.jpg" width="100%" height="100%"  alt="">
        <p class="textos-home"> asd </p>
      </div>
      <div class=" contenedor6">
        <img src="assets/img/vandal boogie foto.jpg" width="100%" height="100%"  alt="">
        <p class="textos-home"> asd </p>
      </div>
      <div class=" contenedor4">
        <img src="assets/img/vandal boogie video.jpg" width="100%" height="100%"  alt="">
        <p class="textos-home"> asd </p>
      </div>
    </div>

</div>

<div class="home-mobile">
  <div class="img-mobile">
    <img src="assets/img/DrefQuila foto.jpg" width="100%" alt="">
  </div>
  <div class="img-mobile">
    2
  </div>
  <div class="img-mobile">
    3
  </div>
  <div class="img-mobile">
    4
  </div>
  <div class="img-mobile">
    5
  </div>
  <div class="img-mobile">
    6
  </div>

</div>
