<div class="main">

    <div class="first-section">
        <div class="contenedor1 animated bounceInLeft delay-1s">

            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg">
                 <img src="assets/img/DrefQuila video.jpg" width="100%" height="106.5%" alt="">
                </button>
            <p class="textos-home"> DrefQuila </p>
        </div>
        <div class=" contenedor2 animated bounceInDown delay-2s">
            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-foto-fashion-films">
                <img src="assets/img/pt fashion film foto.jpg" width="100%" height="100%" alt="">
            </button>
            <p class="textos-home"> fashion film </p>
        </div>
        <div class=" contenedor3 animated bounceInRight delay-3s">
            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-pt-fashion">
                     <img src="assets/img/pt fashion film video cuadrado.jpg" width="100%" height="100%" alt="">
            </button>
            <p class="textos-home"> fashion film</p>
        </div>
    </div>


    <div class="second-section">
      <div class="columna-1-second-section col>">
        <div class="contenedor5 animated bounceInLeft delay-3s">
            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-drefquila-foto">
                <img src="assets/img/DrefQuila foto.jpg" width="100%" height="100%" alt="" style="margin-top:2%">
                </button>

            <p class="textos-home"> DrefQuila </p>
        </div>
        <div class=" contenedor6 animated bounceInUp delay-2s">
            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-vandal-foto">
                 <img src="assets/img/vandal boogie foto.jpg" width="100%" height="100%" alt="" style="margin-top:2%">
                </button>
            <p class="textos-home"> vandal boogie </p>
        </div>
      </div>
      <div class="columna-2-second-section">

        <div class=" contenedor4 animated bounceInRight delay-1s">
            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-vandal">
                 <img src="assets/img/vandal boogie video.jpg" width="100%" height="100%" alt="">
                </button>
            <p class="textos-home"> vandal boogie </p>
        </div>
      </div>
    </div>

</div>

<div class="home-mobile">
    <div class="img-mobile">
      <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-mobile">
           <img src="assets/img/DrefQuila video.jpg" width="100%" alt="">
          </button>
      <p class="textos-mobile"> DrefQuila </p>
    </div>



    <div class="img-mobile">
        <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-pt-fashion-mobile">
              <img src="assets/img/pt fashion film video cuadrado.jpg" width="100%" height="100%" alt="">
        </button>
      <p class="textos-mobile"> fashion film</p>
    </div>

    <div class="img-mobile">
      <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-vandal-mobile">
           <img src="assets/img/vandal boogie video.jpg" width="100%" height="100%" alt="">
          </button>
      <p class="textos-mobile"> vandal boogie </p>
    </div>

</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " style="color: white;">
        <div class="modal-content" style="background-color: rgba(0,0,0,0)">
            <div style="text-align: center;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                <p><a href="https://vimeo.com/316926187" style="color: #fdd200">DrefQuila - Hunter / Duro (Official Video)</a> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200">Brooklyn films</a> .</p>
                <iframe src="https://player.vimeo.com/video/316926187" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p> DrefQuila - Hunter + Duro <br>
                    <span style="color: #fdd200">Director:</span> Francisca Matus<br>
                    <span style="color: #fdd200">Producers: </span> Valezka Flores + Felipe Matamala<br>
                    <span style="color: #fdd200">Director of photography:</span> Ringo Valenzuela<br>
                    <span style="color: #fdd200">Camera:</span> DrefQuila<br>
                    <span style="color: #fdd200">Photography assistant:</span> Christian Gutierrez<br>
                    <span style="color: #fdd200">Editor/Colorist:</span> Ringo Valenzuela + Francisca Matus<br>
                    <span style="color: #fdd200">Photographer:</span> Matías Torné<br>
                    <span style="color: #fdd200">Makeup:</span> Ale Ramirez<br>
                    <span style="color: #fdd200">Dref's Manager:</span> Matz<br>
                    <span style="color: #fdd200">Catering: </span> Judith Palacios<br>
                </p>
            </div>

        </div>
    </div>
</div>

<!-- Derfquila modal mobile -->
<div class="modal fade bd-example-modal-lg-mobile" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " style="color: white;">
        <div class="modal-content" style="background-color: rgba(0,0,0,0)">
            <div style="text-align: center;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                <p><a href="https://vimeo.com/316926187" style="color: #fdd200">DrefQuila - Hunter / Duro (Official Video)</a><br> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200">Brooklyn films</a> .</p>
                <iframe src="https://player.vimeo.com/video/316926187" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p> DrefQuila - Hunter + Duro <br>
                    <span style="color: #fdd200">Director:</span> Francisca Matus/
                    <span style="color: #fdd200">Producers: </span> Valezka Flores + Felipe Matamala/
                    <span style="color: #fdd200">Director of photography:</span> Ringo Valenzuela/
                    <span style="color: #fdd200">Camera:</span> DrefQuila/
                    <span style="color: #fdd200">Photography assistant:</span> Christian Gutierrez/
                    <span style="color: #fdd200">Editor/Colorist:</span> Ringo Valenzuela + Francisca Matus/
                    <span style="color: #fdd200">Photographer:</span> Matías Torné/
                    <span style="color: #fdd200">Makeup:</span> Ale Ramirez/
                    <span style="color: #fdd200">Dref's Manager:</span> Matz/
                    <span style="color: #fdd200">Catering: </span> Judith Palacios/
                </p>
            </div>

        </div>
    </div>
</div>



<div class="modal fade bd-example-modal-lg-vandal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: rgba(0,0,0,0)">
            <div style="text-align: center;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                <p><a href="https://vimeo.com/320779553" style="color: #fdd200;">Vandal Boogie - Lo voy a romper</a> <span style="color: white;"> from </span> <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a> .</p>
                <iframe src="https://player.vimeo.com/video/320779553" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p style="color: white;"> Vandal Boogie - Lo voy a romper (Official Video) / · <br>
                    <span style="color: #fdd200;"> Idea original:</span> <span style="color: white;"> Byron  Rivas ·</span><br>
                    <span style="color: #fdd200;">Director:</span> <span style="color: white;">Byron Rivas ·</span> <br>
                    <span style="color: #fdd200;">Asist. dirección:</span> <span style="color: white">Francisca Matus ·</span> <br>
                    <span style="color: #fdd200;"></span> <span style="color: white">Francisca Matus + Byron Rivas ·</span> <br>
                    <span style="color: #fdd200;"> <span style="color: white"></span>Producción:</span> Dir. de Fotografía: Ringo Valenzuela ·<br>
                    <span style="color: #fdd200;"><span style="color: white"></span> Post + Color:</span> Ringo Valenzuela + Juan Ortega (All Smoth) ·<br>
                    <span style="color: #fdd200;"><span style="color: white"></span> Make up + Styiling:</span> Sang Jin Yun /
                    <br> <span style="color: white"></span>Noviembre, 2018. Santiago de Chile.
                </p>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg-vandal-mobile" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: rgba(0,0,0,0)">
            <div style="text-align: center;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                <p><a href="https://vimeo.com/320779553" style="color: #fdd200;">Vandal Boogie - Lo voy a romper</a> <span style="color: white;"><br> from </span> <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a> .</p>
                <iframe src="https://player.vimeo.com/video/320779553" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p style="color: white;"> Vandal Boogie - Lo voy a romper (Official Video). /
                    <span style="color: #fdd200;"> Idea original:</span> <span style="color: white;"> Byron  Rivas·</span>/
                    <span style="color: #fdd200;">Director:</span> <span style="color: white;">Byron Rivas·</span> /
                    <span style="color: #fdd200;">Asist. dirección:</span> <span style="color: white">Francisca Matus·</span> /
                    <span style="color: #fdd200;"></span> <span style="color: white">Francisca Matus + Byron Rivas·</span> /
                    <span style="color: #fdd200;"> <span style="color: white"></span>Producción:</span> Dir. de Fotografía: Ringo Valenzuela·/
                    <span style="color: #fdd200;"><span style="color: white"></span> Post + Color:</span> Ringo Valenzuela + Juan Ortega (All Smoth)·/
                    <span style="color: #fdd200;"><span style="color: white"></span> Make up + Styiling:</span> Sang Jin Yun /
                    / <span style="color: white"></span>Noviembre, 2018. Santiago de Chile.
                </p>
            </div>

        </div>
    </div>
</div>



<div class="modal fade bd-example-modal-lg-pt-fashion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="color: white;">
        <div class="modal-content" style="background-color: rgba(0,0,0,0)">
            <div style="text-align: center;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                <p><a href="https://vimeo.com/299745122" style="color: #fdd200;">P.T. - Fashion film</a> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a> .</p>
                <iframe src="https://player.vimeo.com/video/299745122" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <p> <span style="color: #fdd200;">Pink court:</span> Spot <br>
                    <span style="color: #fdd200;">Director:</span> Ignacio Cisternas + Francisca Matus<br>
                    <span style="color: #fdd200;">Producer:</span> Valeska Flores <br>
                    <span style="color: #fdd200;">Director of Photography:</span> Ringo Valenzuela <br>
                    <span style="color: #fdd200;">Post + Color:</span> Ringo Valenzuela + Francisca Matus <br>
                    <span style="color: #fdd200;">Make up:</span> Alexandra Cancino Costume<br>
                    <span style="color: #fdd200;"> production:</span> Romina Morales + Matias Amengual<br>
                    <span style="color: #fdd200;">Models:</span> Dominika + Maya GAIKA - BLASPHEMER <br>
                    <span style="color: #fdd200;">#WeAreBrooklyn </span> <br> Octubre 2018, Chile.

                </p>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg-pt-fashion-mobile" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="color: white;">
        <div class="modal-content" style="background-color: rgba(0,0,0,0)">
            <div style="text-align: center;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                <p><a href="https://vimeo.com/299745122" style="color: #fdd200;">P.T. - Fashion film</a><br> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a> .</p>
                <iframe src="https://player.vimeo.com/video/299745122" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                <p> <span style="color: #fdd200;">Pink court:</span> Spot /
                    <span style="color: #fdd200;">Director:</span> Ignacio Cisternas + Francisca Matus/
                    <span style="color: #fdd200;">Producer:</span> Valeska Flores /
                    <span style="color: #fdd200;">Director of Photography:</span> Ringo Valenzuela /
                    <span style="color: #fdd200;">Post + Color:</span> Ringo Valenzuela + Francisca Matus /
                    <span style="color: #fdd200;">Make up:</span> Alexandra Cancino Costume/
                    <span style="color: #fdd200;"> production:</span> Romina Morales + Matias Amengual/
                    <span style="color: #fdd200;">Models:</span> Dominika + Maya GAIKA - BLASPHEMER /
                    <span style="color: #fdd200;">#WeAreBrooklyn </span> / Octubre 2018, Chile.

                </p>
            </div>

        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg-foto-fashion-films" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: rgba(0,0,0,0)">
            <div style="text-align: center;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                <img src="assets/img/pt fashion film foto.jpg" width="100%" height="100%" alt="">
            </div>

        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg-vandal-foto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: rgba(0,0,0,0)">
            <div style="text-align: center;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                <img src="assets/img/vandal boogie foto.jpg" width="100%" height="60%" alt="">
            </div>

        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg-drefquila-foto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: rgba(0,0,0,0)">
            <div style="text-align: center;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                <img src="assets/img/DrefQuila foto.jpg" width="100%" height="60%" alt="">
            </div>

        </div>
    </div>
</div>
