<div class="main">

    <div class="col-12 " style="margin-top:2%; ">

        <div class="col-4" style="float: left">

            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg"><img class="img-responsive animated fadeInLeft " src="assets/img/DrefQuila video.jpg" width="100%;"></button>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg " style="color: white;">
                    <div class="modal-content" style="background-color: rgba(0,0,0,0)">
                        <div style="text-align: center;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <p><a href="https://vimeo.com/316926187" style="color: #fdd200">DrefQuila - Hunter / Duro (Official Video)</a> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200">Brooklyn films</a> .</p>
                            <iframe src="https://player.vimeo.com/video/316926187" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p> DrefQuila - Hunter + Duro <br>
                                <span style="color: #fdd200">Director:</span> Francisca Matus<br>
                                <span style="color: #fdd200">Producers: </span> Valezka Flores + Felipe Matamala<br>
                                <span style="color: #fdd200">Director of photography:</span> Ringo Valenzuela<br>
                                <span style="color: #fdd200">Camera:</span> DrefQuila<br>
                                <span style="color: #fdd200">Photography assistant:</span> Christian Gutierrez<br>
                                <span style="color: #fdd200">Editor/Colorist:</span> Ringo Valenzuela + Francisca Matus<br>
                                <span style="color: #fdd200">Photographer:</span> Matías Torné<br>
                                <span style="color: #fdd200">Makeup:</span> Ale Ramirez<br>
                                <span style="color: #fdd200">Dref's Manager:</span> Matz<br>
                                <span style="color: #fdd200">Catering: </span> Judith Palacios<br>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-body ">
                <p class="card-text text-center">DrefQuila</p>
            </div>
        </div>

        <div class="col-4" style="float: left">

            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-vandal"><img class="img-responsive animated fadeInDown delay-1s" src="assets/img/vandal boogie video.jpg" width="100%;"></button>

            <div class="modal fade bd-example-modal-lg-vandal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="background-color: rgba(0,0,0,0)">
                        <div style="text-align: center;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                            <p><a href="https://vimeo.com/320779553" style="color: #fdd200;">Vandal Boogie - Lo voy a romper</a> <span style="color: white;"> from </span> <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a>                                .</p>
                            <iframe src="https://player.vimeo.com/video/320779553" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p style="color: white;"> Vandal Boogie - Lo voy a romper (Official Video) / · <br>
                                <span style="color: #fdd200;"> Idea original:</span> <span style="color: white;"> Byron  Rivas ·</span><br>
                                <span style="color: #fdd200;">Director:</span> <span style="color: white;">Byron Rivas ·</span> <br>
                                <span style="color: #fdd200;">Asist. dirección:</span> <span style="color: white">Francisca Matus ·</span> <br>
                                <span style="color: #fdd200;"></span> <span style="color: white">Francisca Matus + Byron Rivas ·</span> <br>
                                <span style="color: #fdd200;"> <span style="color: white"></span>Producción:</span> Dir. de Fotografía: Ringo Valenzuela ·<br>
                                <span style="color: #fdd200;"><span style="color: white"></span> Post + Color:</span> Ringo Valenzuela + Juan Ortega (All Smoth) ·<br>
                                <span style="color: #fdd200;"><span style="color: white"></span> Make up + Styiling:</span> Sang Jin Yun /
                                <br> <span style="color: white"></span>Noviembre, 2018. Santiago de Chile.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text text-center">vandal boogie</p>
            </div>
        </div>
        <div class="col-4" style="float: left">



            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-pt-fashion"><img class="img-responsive animated fadeInRight " src="assets/img/pt-fashion-film-video-1024x576.jpg" width="100%;"></button>

            <div class="modal fade bd-example-modal-lg-pt-fashion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="color: white;">
                    <div class="modal-content" style="background-color: rgba(0,0,0,0)">
                        <div style="text-align: center;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                            <p><a href="https://vimeo.com/299745122" style="color: #fdd200;">P.T. - Fashion film</a> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a> .</p>
                            <iframe src="https://player.vimeo.com/video/299745122" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                            <p> <span style="color: #fdd200;">Pink court:</span> Spot <br>
                                <span style="color: #fdd200;">Director:</span> Ignacio Cisternas + Francisca Matus<br>
                                <span style="color: #fdd200;">Producer:</span> Valeska Flores <br>
                                <span style="color: #fdd200;">Director of Photography:</span> Ringo Valenzuela <br>
                                <span style="color: #fdd200;">Post + Color:</span> Ringo Valenzuela + Francisca Matus <br>
                                <span style="color: #fdd200;">Make up:</span> Alexandra Cancino Costume<br>
                                <span style="color: #fdd200;"> production:</span> Romina Morales + Matias Amengual<br>
                                <span style="color: #fdd200;">Models:</span> Dominika + Maya GAIKA - BLASPHEMER <br>
                                <span style="color: #fdd200;">#WeAreBrooklyn </span> <br> Octubre 2018, Chile.

                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-body">
                <p class="card-text text-center">pt fashion film</p>
            </div>
        </div>




    </div>
    <div class="col-12 " style="margin-top:2%; ">

        <div class="col-4" style="float: left">


            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-intothewoods"><img class="img-responsive animated animated fadeInLeft delay-1s" src="assets/img/intothewoods-video-1024x576.jpg" width="100%;"></button>

            <div class="modal fade bd-example-modal-lg-intothewoods" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="color: white;">
                    <div class="modal-content" style="background-color: rgba(0,0,0,0)">
                        <div style="text-align: center;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                            <p><a href="https://vimeo.com/272160364" style="color: #fdd200;">INTO THE WOODS / spot</a> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a>.</p>
                            <iframe src="https://player.vimeo.com/video/272160364" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p>Into the woods, our first spot with the crew.<br>
                                <span style="color: #fdd200">Director:</span> Francisca Matus<br>
                                <span style="color: #fdd200;">Producer:</span> Felipe Matamala<br>
                                <span style="color: #fdd200;">Director of Photography:</span> Ringo Valenzuela<br>
                                <span style="color: #fdd200;">Post Producer:</span> Benjamin Migliorini / Ringo Valenzuela
                                <br> Santiago, Chile 2018.</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-body">
                <p class="card-text text-center">intothewoods</p>
            </div>
        </div>
        <div class="col-4" style="float: left">


            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-ventinueve">  <img class="img-responsive animated animated fadeIn delay-2s" src="assets/img/veintenueve-video-1024x576.jpg" width="100%;"></button>

            <div class="modal fade bd-example-modal-lg-ventinueve" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="color: white;">
                    <div class="modal-content" style="background-color: rgba(0,0,0,0)">
                        <div style="text-align: center;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                            <p><a href="https://vimeo.com/288430013" style="color: #fdd200;">Veintenueve - RRSS</a> from <a style="color: #fdd200;" href="https://vimeo.com/wearebrooklyn">Brooklyn films</a> .</p>
                            <iframe src="https://player.vimeo.com/video/288430013" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p>Ventenueve
                                <br> Instagram <span style="color: #fdd200;"><br>#SeLibre</span></p>

                        </div>

                    </div>
                </div>
            </div>

            <div class="card-body">
                <p class="card-text text-center">veintenueve</p>
            </div>
        </div>
        <div class="col-4" style="float: left">


            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-piston"><img class="img-responsive animated animated fadeInRight delay-1s" src="assets/img/piston-video-1024x576.jpg" width="100%;"></button>

            <div class="modal fade bd-example-modal-lg-piston" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="color: white;">
                    <div class="modal-content" style="background-color: rgba(0,0,0,0)">
                        <div style="text-align: center;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                            <p><a href="https://vimeo.com/279324092" style="color: #fdd200;">Pist&oacute;n - Cultura Pisco (preparaciones)</a> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a> .</p>
                            <iframe src="https://player.vimeo.com/video/279324092" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p>

                                Realizadores <br> Ringo Valenzuela
                                <br>Francisca Matus</p>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card-body">
                <p class="card-text text-center">piston</p>
            </div>
        </div>

    </div>

    <div class="col-12 " style="margin-top:2%; ">

        <div class="col-4" style="float: left">


            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-hertogjan"> <img class="img-responsive animated fadeInLeft delay-2s" src="assets/img/hertogjan-video-1-1024x576.jpg" width="100%;"></button>

            <div class="modal fade bd-example-modal-lg-hertogjan" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="color: white;">
                    <div class="modal-content" style="background-color: rgba(0,0,0,0)">
                        <div style="text-align: center;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                            <p><a href="https://vimeo.com/288256518" style="color: #fdd200;">HertogJan - RRSS</a> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a> .</p>
                            <iframe src="https://player.vimeo.com/video/288256518" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p>Hertog Jan - <br>Instagram Julio / 2018 <br><span style="color: #fdd200;">#WeAreBrooklyn</span>

                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-body">
                <p class="card-text text-center">hertogjan</p>
            </div>
        </div>
        <div class="col-4" style="float: left">


            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-chilebloggers"><img class="img-responsive animated fadeIn delay-3s" src="assets/img/chilebloggers-video-1024x576.jpg" width="100%;"></button>

            <div class="modal fade bd-example-modal-lg-chilebloggers" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="color: white;">
                    <div class="modal-content" style="background-color: rgba(0,0,0,0)">
                        <div style="text-align: center;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                            <p><a href="https://vimeo.com/276116345" style="color: #fdd200;">Chile bloggers - Excursi&oacute;n farellones</a> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a> .</p>
                            <iframe src="https://player.vimeo.com/video/276116345" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p>Registro excursión farellones con <br> <span style="color: #fdd200;">@Chilebloggers</span> </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-body">
                <p class="card-text text-center">chilebloggers</p>
            </div>
        </div>

        <div class="col-4" style="float: left">
            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-SalaOmnium"><img class="img-responsive animated fadeInRight delay-2s" src="assets/img/Sala-Omnium-video-1024x576.jpg" width="100%;"></button>
            <div class="modal fade bd-example-modal-lg-SalaOmnium" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="color: white;">
                    <div class="modal-content" style="background-color: rgba(0,0,0,0)">
                        <div style="text-align: center;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                            </button>
                            <p><a href="https://vimeo.com/278404003" style="color: #fdd200;">Eats Everything</a> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a> .</p>
                            <iframe src=" https://player.vimeo.com/video/278404003 " width="640 " height="360 " frameborder="0 " webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p>Fiesta realizada en Omnium donde estuvo el DJ Eats Everything<br> Marzo 2018 Santiago, Chile<br> <span style="color: #fdd200;"> #WeareBrooklyn</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-body ">
                <p class="card-text text-center ">Sala Omnium</p>
            </div>
        </div>

    </div>
    <div class="col-12 " style="margin-top:2%; ">

        <div class="col-4" style="float: left">


            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-bdsm-1"> <img class="img-responsive animated fadeInLeft delay-2s" src="assets/img/bdsm-1-video-1024x576.jpg" width="100%;"></button>

            <div class="modal fade bd-example-modal-lg-bdsm-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="color: white;">
                    <div class="modal-content" style="background-color: rgba(0,0,0,0)">
                        <div style="text-align: center;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                            <p><a href="https://vimeo.com/277573483" style="color: #fdd200;">BDSM - C&aacute;psula n&ordm;1</a> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a>.</p>
                            <iframe src="https://player.vimeo.com/video/277573483" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p>Cápsula realizada para la 1º Convención de BDSM en Chile<br> Edificio Radicales - Abril 2017<br> Santiago - Chile<br>
                                <span style="color: #fdd200;">#WeareBrooklyn</span></p>

                        </div>

                    </div>
                </div>
            </div>

            <div class="card-body">
                <p class="card-text text-center">bdsm 1</p>
            </div>
        </div>
        <div class="col-4" style="float: left">


            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-bdsm2"><img class="img-responsive animated fadeIn delay-3s" src="assets/img/bdsm-2-video-1024x576.jpg" width="100%;"></button>

            <div class="modal fade bd-example-modal-lg-bdsm2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="color: white;">
                    <div class="modal-content" style="background-color: rgba(0,0,0,0)">
                        <div style="text-align: center;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <p><a href="https://vimeo.com/277573944" style="color: #fdd200;">BDSM - C&aacute;psula n&ordm;2</a> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a>.</p>
                            <iframe src="https://player.vimeo.com/video/277573944" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p>Segunda cápsula realizada para la 1º Convención de BDSM en Chile <br> Edificio Radicales - Abril 2017
                                <br>
                                <span>Santiago-Chile</span> <br>
                                <span style="color: #fdd200;">#WeareBrooklyn</span> </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-body">
                <p class="card-text text-center">BDSM 2</p>
            </div>
        </div>

        <div class="col-4" style="float: left">
            <button type="button" class="btn " data-toggle="modal" data-target=".bd-example-modal-lg-womad"><img class="img-responsive animated fadeInRight delay-2s" src="assets/img/womad-video-1024x576.jpg" width="100%;"></button>
            <div class="modal fade bd-example-modal-lg-womad" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg " style="color: white;">
                    <div class="modal-content" style="background-color: rgba(0,0,0,0)">
                        <div style="text-align: center;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                            </button>
                            <p><a href="https://vimeo.com/277570798" style="color: #fdd200;">Womad Chile - 2018</a> from <a href="https://vimeo.com/wearebrooklyn" style="color: #fdd200;">Brooklyn films</a>.</p>
                            <iframe src="https://player.vimeo.com/video/277570798" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p>Registro del festival del mundo Womad 2018 <br> realizado el 18 de Febrero
                                <br>para Cultura Pisco <br> Santiago, Chile <br><span style="color: #fdd200;">Brooklyn</span> <br><span style="color: #fdd200;">#WeareBrooklyn</span> </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-body ">
                <p class="card-text text-center ">Womad</p>
            </div>
        </div>

    </div>


</div>