<div class="wrapper">



    <div class="sidenav col-lg-2 ">

        <div style="width:100%;">
            <img src="assets/img/Logo Brooklyn.png" alt="" class="logo-nav">
        </div>


        <div class="items-menu">



            <ul class="menu-desktop">
                <li class="block">
                    <a [routerLink]="['home']" routerLinkActive="active" class="asd">HOME</a>

                </li>

                <li class="block" routerLinkActive="active">
                    <a routerLinkActive="active" [routerLink]="['portfolio']">PROYECTOS</a>
                </li>

                <li class="block" routerLinkActive="active">
                    <a routerLinkActive="active" [routerLink]="['about']">NOSOTROS</a>
                </li>

                <li class="block" routerLinkActive="active">
                    <a routerLinkActive="active" [routerLink]="['contact']">CONTACTO</a>
                </li>



            </ul>

            <ul class="menu-mobile">
                <li class="block">
                    <a [routerLink]="['home']" routerLinkActive="active"><i class="fas fa-home fa-2x"></i></a>

                </li>

                <li class="block" routerLinkActive="active">
                    <a routerLinkActive="active" [routerLink]="['portfolio']"><i class="fas fa-clipboard-list fa-2x"></i></a>
                </li>

                <li class="block" routerLinkActive="active">
                    <a routerLinkActive="active" [routerLink]="['about']"><i class="fas fa-users fa-2x"></i></a>
                </li>

                <li class="block" routerLinkActive="active">
                    <a routerLinkActive="active" [routerLink]="['contact']"><i class="fas fa-mobile-alt fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="div-rrss">
            <i class="fab fa-facebook-f fa-lg rrss hvr-bob"><a href="https://www.instagram.com/brooklyn.films/"></a> </i>
            <i class="fab fa-instagram fa-lg rrss	hvr-bob"><a href="https://www.instagram.com/brooklyn.films/"></a> </i>
            <i class="fab fa-vimeo-v fa-lg rrss	hvr-bob"><a href="https://vimeo.com/wearebrooklyn"></a> </i>
        </div>

        <div class="div-rrss-mobile">
            <i class="fab fa-facebook-f fa-lg rrss"><a href="https://www.instagram.com/brooklyn.films/"></a> </i>
            <i class="fab fa-instagram fa-lg rrss"><a href="https://www.instagram.com/brooklyn.films/"></a> </i>
            <i class="fab fa-vimeo-v fa-lg rrss"><a href="https://vimeo.com/wearebrooklyn"></a> </i>
        </div>
    </div>


</div>