@font-face {
    font-family: GOBOLD;
    src: url(assets/fonts/GOBOLD.OTF) format("opentype");
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GOBOLD';
}

.img-circle {
    border-radius: 100%;
    width: 150px;
}